#root {
  display: flex;
  flex: 1;
  flex-direction: column;
}


#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 7em;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #677d86;
  height: 100px;
  padding: 0px 150px 0px 150px;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.MBSName {
  font-size: larger;
  font-weight: 600;
}

.header .btn {
  text-decoration: none;
  font-weight: 600;
  color: #000;
  padding: 10px;
  margin: 10px;
}


.logo {
  width: 50px;
  height: auto;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 0.5em #e99b42);
}

.header .btn:hover {
  color: #e99b42;
}

.orangeCard {
  background: #e99b42;
  padding: 100px 200px 100px 200px;
  color: #fff;
  text-align: center;
}

.whiteCard {
  background: #fff;
  padding: 10px 200px 100px 200px;
  color: #e99b42;
  text-align: center;
}

.visionMission {
  flex-direction: row;
}

h1+span {
  color: #000;
  font-size: large;
  font-weight: 400;
}

h1 {
  font-size: 50px;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */